*{
  font-family: Helvetica;
  padding: 0px;
  margin: 0px;
}

body{
  background-color:rgb(199, 199, 199);
}

li{
  display: block;
}

h1#quantity{
  font-size: 2em;
  border-radius: 20px;
  background-color: rgb(224, 79, 79);
  padding: 10px;
  color: rgb(250, 250, 250);
  width: 40px;
  float: left;
  margin-right: 15px;
  text-align: center;
}

.links{
  text-decoration: none;
  color: black;
}

h2#name{
  font-size: 3em;
  display: inline-block;
  margin-top: -20px;
  margin-bottom: -70px;


}

p#description{
  display: block;
  padding-left: 20px;
}

.listText{
  padding: 5px;
}

.list{
  padding: 50px;
  padding-bottom: -20px;
  margin-bottom: -50px;
  padding-left: 75px;

}

header#menu{
  position: fixed;
  width: 100%;
  height: 70px;
  background-color: rgb(249, 249, 249);
  font-family: BebasNeue;

}

img#logo{
  width: 20px;
}

h1#mainTitle{
  position: center;
  text-align: center;
  margin: 15px;
}

section#firstContainer{
  width: 100%;
  height: 100px;
  color: white;
  text-align: left;
  background-color: rgb(47, 46, 47);

}

section#mainContainer{
  margin-left: 150px;
  margin-right: 150px;
}

h2#texto{
  padding: 20px;
  padding-top: 22px;
  font-size: 2.7em;
  font-family: sans-serif;
}

section#mainPhoto{
  position: relative;
  z-index: -1;
  width: 100%;
  height: 700px;
  background-image: url("../images/Bird.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

section#bodyList{

  width: 100%;
  height: 1200px;
  background-color: white;
}

section#footer{
  width: 100%;
  height: 200px;
  background-color: #60646D;
}
