@import url(http://fonts.googleapis.com/scc?family=Julius+Sans+One);
* {
  padding: 0px;
  margin: 0px;
  font-family: 'Julius Sans One', sans-serif;
}

section#contenedorGeneral{
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  z-index: -1;
  background-image: url('../images/Chamaleon.jpg');
  background-size: cover;
  background-position: center 0px;
  background-repeat: no-repeat;
}

section#body{
  width: 100%;
  min-height: 300px;
  overflow: hidden;
}

section#scrollDown{
  margin: auto;
  width: 200px;
  height: 60px;
}

p#titulo{
  text-align: center;
  font-weight: lighter;
  font-size: 1.5em;
  color: white;
}

p#menorque{
  -webkit-transform: rotate(270deg);
  text-align: center;
  color: white;
  right:
}

section#main{
  width: 100%;
  height: 800px;
  margin-top: 20px;
  background-image: url("../images/Background.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
