{% load static %}
<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Home</title>
   <link rel="stylesheet" href="{% static 'css/master.css' %}">
   <script src="{% static 'js/main.js' %}" charset="utf-8"></script>
</head>
<body>
  <h1 id="prueba">Productos Disponibles para </h1>
  <ul>
      {% for pr in products %}
      <li> <strong>Nombre:</strong> {{pr.name}} / <strong>Marca:</strong> {{pr.brand}} / <strong>Cantidad:</strong> {{quantity}} / </li>
      {% endfor %}
  </ul>

</body>
</html>
