<!DOCTYPE html>
<html>
<head>
  {% load staticfiles %}
  <meta charset="utf-8">
  <title>Home as</title>
  <link rel="stylesheet" href="{% static 'css/index.css' %}">
  <script src="{% static 'js/main.js' %}" charset="utf-8"></script>
</head>
<body>
  <h1 id="prueba">Productos Disponibles para </h1>
  <ul>
    {% for pr in products %}
    <li>
      <a href="{% url 'product_detail' pr.pk %}">
        <strong>Nombre:</strong> {{pr.name}} / <strong>Marca:</strong> {{pr.brand}} / <strong>Imagen: </strong> <img src="{{pr.image.url}}" alt="">
      </a>
    </li>
    {% endfor %}
  </ul>

</body>
</html>
