<!DOCTYPE html>
<html>
  <head>
    {% load staticfiles %}
    <meta charset="utf-8">
    <title>Nuevo Producto</title>
    <link rel="stylesheet" href="{% static 'css/newProduct.css' %}">
    <script src="{% static 'js/newProduct.js' %}" charset="utf-8"></script>
  </head>
  <body>
      <h1>Nuevo Articulo</h1>
      <form class="formulario"  method="POST">
        {% csrf_token %}
          {{ form.as_p }}
        <button type="submit" name="button">Subir</button>
      </form>
  </body>
</html>
