<!DOCTYPE html>
<html>
  <head>
      {% load staticfiles %}
    <meta charset="utf-8">
    <title> {{product.name }}</title>
    <link rel="stylesheet" href="{% static 'css/productDetail.css' %}">
    <script src="{% static 'js/productDetail.js' %}" charset="utf-8"></script>
  </head>
  <body>
    <h1> {{product.name}} </h1>
    <h2> {{product.description}}</h2>
    <p>
      {{product.category}}
      {{product.quantitty}}
    </p>
    <img src="{{ product.image.url}}" alt="">
    <button type="button" name="Back"> <a href="/">Volver</a> </button>
    <button type="button" name="Reservar" id="res" > <a href="/">Reservar</a> </button>
  </body>
</html>
